@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "content";

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@layer base {
  body {
    @apply font-primary text-sm lg:text-base;
  }
}

.spacing {
  @apply w-full max-w-[1600px] px-5 lg:px-10 mx-auto;
}

.center {
  @apply flex items-center justify-center;
}

.hidden-input {
  @apply w-[1px] h-[1px] m-[-1px] p-0 overflow-hidden absolute whitespace-nowrap border-none;
  clip: rect(0 0 0 0);
}

table {
  @apply w-full;
  thead {
    @apply bg-[#f7f7f8];
  }
  th,
  td {
    @apply align-middle whitespace-nowrap;
  }
  th {
    @apply px-8 py-5 text-left;
  }
  td {
    @apply px-8 py-4;
  }
}

.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}

.quill {
  @apply relative;
  .ql-toolbar {
    @apply sticky top-0 bg-white z-10;
  }
}

.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
